In [1]:
import pandas as pd
import numpy as np
import TestFunctions as tf

In [2]:
info = tf.getInfo_ATC_True("pat-na1-3c7b0af9-bb66-40e7-a256-ce4c5eb27e81")

In [3]:
info.head(5)

,ID,First Name,Last Name,Email,Phone,Country,Technical_test_created_date,Industry,Address,Allowed to Collect
0,416102,Zoe,Owen,Zoe <zoe_owen450104633@acrit.org> Contact Info.,0-774-386-624,Waterford,2021-07-13,Poultry and fish,"Blackpool Rue, 6576",true
1,413403,Zara,Rodwell,Zara <zara_rodwell1398442854@nickia.com> Conta...,6-777-367-783,Ireland,2021-01-09,Fruit and vegetables,"Parkfield Avenue, 5340",true
2,417951,Zara,Freeburn,Zara <zara_freeburn1593147546@gmail.com> Conta...,5-618-556-540,Ireland,2021-08-30,Milling,"Abourne Lane, 876",true
3,419852,Winnie,Walter,Winnie <winnie_walter538064895@sheye.org> Cont...,1-161-604-327,Dublin,2021-02-10,Dairy products,"Chester Crossroad, 7070",true
4,425352,Zoe,Owen,Zoe <zoe_owen1652446013@bungar.biz> Contact Info.,5-645-416-200,Dublin,2021-11-02,Meat,"Tilloch Crossroad, 8332",true

In [4]:
irl_list = tf.eng_detection('IE')
eng_list = tf.eng_detection('GB')

In [5]:
info['Country City Detection'] = np.where(info['Country'].isin(['England', 'Ireland']), "Country", 
                                np.where(info['Country'].isna(), "No Information - Empty", "City"))

In [6]:
info['Country Detection'] = tf.detect_country(info['Country'], eng_list, irl_list)

In [7]:
info['Country'] = info['Country Detection'].apply(lambda x: x[0])
info['City'] = info['Country Detection'].apply(lambda x: x[1])

In [8]:
info['Raw Email'] = tf.raw_emails(info['Email'])

In [9]:
info['Assigned Number'] = tf.clean_numbers(info['Phone'], info['Country Detection'].apply(lambda x: x[0]))

In [10]:
info['Fullname'] = info['First Name'] + ' ' + info['Last Name']

In [15]:
info.head(5)

,ID,First Name,Last Name,Email,Phone,Country,Technical_test_created_date,Industry,Address,Allowed to Collect,Country City Detection,Country Detection,City,Raw Email,Assigned Number,Fullname
0,416102,Zoe,Owen,Zoe <zoe_owen450104633@acrit.org> Contact Info.,0-774-386-624,Ireland,2021-07-13,Poultry and fish,"Blackpool Rue, 6576",true,City,"(Ireland, Waterford)",Waterford,zoe_owen450104633@acrit.org,(+353) 0774386624,Zoe Owen
1,413403,Zara,Rodwell,Zara <zara_rodwell1398442854@nickia.com> Conta...,6-777-367-783,Ireland,2021-01-09,Fruit and vegetables,"Parkfield Avenue, 5340",true,Country,"(Ireland, -)",-,zara_rodwell1398442854@nickia.com,(+353) 6777367783,Zara Rodwell
2,417951,Zara,Freeburn,Zara <zara_freeburn1593147546@gmail.com> Conta...,5-618-556-540,Ireland,2021-08-30,Milling,"Abourne Lane, 876",true,Country,"(Ireland, -)",-,zara_freeburn1593147546@gmail.com,(+353) 5618556540,Zara Freeburn
3,419852,Winnie,Walter,Winnie <winnie_walter538064895@sheye.org> Cont...,1-161-604-327,Ireland,2021-02-10,Dairy products,"Chester Crossroad, 7070",true,City,"(Ireland, Dublin)",Dublin,winnie_walter538064895@sheye.org,(+353) 1161604327,Winnie Walter
4,425352,Zoe,Owen,Zoe <zoe_owen1652446013@bungar.biz> Contact Info.,5-645-416-200,Ireland,2021-11-02,Meat,"Tilloch Crossroad, 8332",true,City,"(Ireland, Dublin)",Dublin,zoe_owen1652446013@bungar.biz,(+353) 5645416200,Zoe Owen

In [12]:
info_no_dup = tf.duplicates_managment(info, 'Technical_test_created_date', 'Fullname')

In [16]:
info_no_dup.head(5)

,Fullname,First Name,Last Name,Temporary ID,Original Created Date,Address,Country,City,Country City Detection,Country Detection,Email,Phone,Original Industry
0,Abbey Porter,Abbey,Porter,457508,2021-05-12,"Besson Avenue, 1005",Ireland,Limerick,City,"(Ireland, Limerick)",abbey_porter75675783@vetan.org,(+353) 8532182466,;Poultry and fish
1,Abdul Fisher,Abdul,Fisher,454197,2021-12-07,"Edwin Rue, 3956",England,-,Country,"(England, -)",abdul_fisher666937132@twipet.com,(+44) 4231262651,;Milling;Poultry and fish
2,Abdul Fox,Abdul,Fox,457516,2021-08-29,"Arlington Pass, 1149",Ireland,Dublin,City,"(Ireland, Dublin)",abdul_fox283273357@joiniaa.com,(+353) 3186084424,;Meat;Animal feeds;Bakery products
3,Abdul Graves,Abdul,Graves,459767,2021-07-18,"Cheney Hill, 5758",England,Milton Keynes,City,"(England, Milton Keynes)",abdul_graves475323926@jiman.org,(+44) 8056733305,;Animal feeds
4,Abdul Hunt,Abdul,Hunt,452538,2021-11-10,"Chatsworth Way, 4027",England,Oxford,City,"(England, Oxford)",abdul_hunt1407009784@bauros.biz,(+44) 6755718302,;Meat;Bakery products;Milling

In [14]:
info_no_dup['Original Industry'] = ';' + info_no_dup['Original Industry'].str.split(";\s*").map(set).str.join(";")